@inherits LayoutComponentBase

<style>
    .animated-gradient {
        min-height: 100vh;
        color: white;
        background: linear-gradient(-45deg, #0a0f4a, #1a3b91, #2596d1, #80d0ff);
        background-size: 10000% 10000%;
        animation: gradientMove 60s ease infinite;
    }

    @@keyframes gradientMove {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .content {
        padding-top: 2rem;
    }

    .fixed-help-box h4 {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 14px;
    }


    .help-toggle {
        position: fixed;
        bottom: 10px;
        left: 10px;
        width: 36px;
        height: 36px;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 10px; /* мягкие углы */
        font-size: 18px;
        font-weight: bold;
        color: #000;
        cursor: pointer;
        z-index: 1000;
    }

    .fixed-help-box {
        position: fixed;
        bottom: 56px;
        left: 10px;
        width: 360px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        padding: 15px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
        font-size: 13px;
        color: black;
        z-index: 1000;
        user-select: none;
        border-radius: 10px; /* закругление окна справки */
    }
</style>

<div class="animated-gradient">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <!-- Кнопка справки -->
    <button class="help-toggle" @onclick="ToggleHelpBox">?</button>

    <!-- Окно справки -->
    @if (showHelp)
    {
        <style>
            .fixed-help-box {
                font-size: 15px;
            }

                .fixed-help-box h4 {
                    font-size: 20px;
                }

                .fixed-help-box strong {
                    font-size: 16px;
                }
        </style>

        <div class="fixed-help-box">
            <h4>Справка</h4>
            <p>
                <strong>BarbarisVPN — подключение в 1 клик!</strong><br /><br />

                1️⃣ Войдите или зарегистрируйтесь.<br />
                2️⃣ Подтвердите почту и оплатите клиент.<br />
                3️⃣ Подключайтесь к VPN.<br /><br />

                ❓ Вопросы: <a href="mailto:hillariot2070@gmail.com">hillariot2070@gmail.com</a>
            </p>
        </div>



    }
</div>

@code {
    private bool showHelp = false;

    private void ToggleHelpBox()
    {
        showHelp = !showHelp;
    }
}
