/VPN_Application/.vs
/VPN_Application/vpnApplication1/bin
/VPN_Application/vpnApplication1/obj
/VPN_Application/vpnApplication1/obj
/VPN_Application/vpnApplication1
VPN_Application/vpnApplication1/obj/Debug/net8.0-android34.0/vpnApplication1.AssemblyInfo.cs
VPN_Application/vpnApplication1/obj/Debug/net8.0-android34.0/vpnApplication1.AssemblyInfoInputs.cache
/VPN_Application/vpnApplication1
/VPN_Application/vpnApplication1
