
@page "/"
@inject VpnService Vpn

@code {
    protected override void OnInitialized()
    {
        Vpn.OnStatusChanged += StateHasChanged;
    }

    public void Dispose()
    {
        Vpn.OnStatusChanged -= StateHasChanged;
    }
}


<h1 class="text-center">VPN Приложение</h1>

<div class="container text-center mt-4">

    <button class="btn btn-lg @(Vpn.IsConnected ? "btn-danger" : "btn-success")" @onclick="Vpn.ToggleConnection">
        @Vpn.ButtonText
    </button>

    <div class="mt-3">
        <label class="fw-bold">Выберите сервер:</label>
        <select class="form-select w-50 mx-auto" @bind="Vpn.SelectedServer">
            <option disabled selected>Выберите сервер</option>
            @foreach (var server in Vpn.Servers)
            {
                <option value="@server">@server</option>
            }
        </select>
    </div>
</div>